/*
Colors

#9575cd deep-purple lighten-2
#1de9b6 teal accent-3


#d1c4e9 deep-purple lighten-4 ( for card content )
#ee6e73 police button color


 */

/* Main */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato',sans-serif;
	color: #373737;
	line-height: 26px;
	font-size: 36px;
}
.table-title {
	font-size: 26px;
}
body, p, li{
	font-family: 'Lato',sans-serif;
	color: #373737;
	font-size: 17px;
}
.btn {
	background-color: white;
	color : rgba(238,110,115,0.7);
}
h2.subtitle {
	font-style: italic;
	color: #ee6e73;
	font-size: 26px;
}
.text-green {
	color: #4CAF50;
}
.text-red {
	color: #F44336;
}
.btn:hover, .btn:focus{
	background-color: white;
	color: #ee6e73;
}
.tabs .tab a:hover, .tabs .tab a.active {
	cursor: pointer;
}

#app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#main {
	flex: 1 0 auto;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #9575cd ;
	box-shadow: 0 1px 0 0 #9575cd ;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color : #9575cd;
}
/* Header */

.header {
	font-weight: lighter;
	color: #9575cd ;
}

nav {
	background-color: #9575cd;
}
nav .brand-logo {
	padding: 0 20px;
	display: block;
}

/* Homepage */
.card .card-action {
	text-align: center;
}
.card .card-action a {
	color: #9575cd !important;
}
.card .card-content {
	min-height: 100px;
	text-align: center;
}
.card .card-image {
	min-height: 280px;
}
.card .card-image img {
	width: 50%;
	margin: auto;
	padding: 10px;
}
#create-family, #add-family {
	width: 50%;
	margin: 20px 25%;
}
#create-family .btn, #add-family .btn {
	color: white;
}
#select-profil {
	margin: 20px 0;
}
#select-profil .btn {
	color: white;
}
/* Learning */

#content-learning .card > .card-content p,
#content-stats .card > .card-content p,
.content-check-training .card > .card-content p{
	color: white;
}
#content-learning .card .card-tabs .selected,
#content-stats .card .card-tabs .selected,
.content-check-training .card .card-tabs .selected{
	color: #9575cd;
	opacity: 1;
}

/* Operations */

.content-operation .text-tour {
	font-style: italic;
	color: #ee6e73;
}
.content-operation .answers .btn{
	margin: 0 10px 10px 0;
}
.content-operation .answers .red{
	color: white;
}

/* Score table */

.table-score {
	margin-bottom: 40px;
}
.table-score td, .table-score th {
	text-align: center;
}
.table-score th {
	color: #ee6e73;
}
.table-score .mistakes {
	color: #f44336;
}
.table-score .no-mistakes {
	color: #4caf50;
}

/* Profils */
.collection .collection-item {
	padding: 25px 20px;
}
.collection .btn-floating {
	top: -10px;
	background-color: #9575cd;
}

/* Footer */

footer.page-footer {
	padding-top: 0px;
	background-color: #9575cd;
}
footer.page-footer .footer-copyright {
	background-color: #9575cd;
}
footer.page-footer .footer-copyright .grey-text {
	padding: 0 10px;
}