<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Tables de multiplication</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Main view -->
<div id="app" class="container">

	<!-- Navigation menu -->
	<nav>
		<div class="nav-wrapper">
			<router-link to="/" class="brand-logo">
				Tables de multiplication
			</router-link>
			<ul class="right hide-on-med-and-down">
				<li>
					<router-link to="/" class="waves-effect waves-light btn">
						Accueil <i class="material-icons left">home</i>
					</router-link>
				</li>
				<li>
					<router-link to="/apprentissage" class="waves-effect waves-light btn">
						Apprentissage <i class="material-icons left">mode_edit</i>
					</router-link>
				</li>
				<li>
					<router-link to="/evaluation" class="waves-effect waves-light btn">
						Evaluation <i class="material-icons left">grade</i>
					</router-link>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Main content of the page -->
	<div id="main">
		<router-view></router-view>
	</div>

	<!-- Footer -->
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				© 2017 DNR2I
				<router-link to="/" class="grey-text text-lighten-4 right">Retour à l'accueil</router-link>
				<router-link to="/statistiques" class="grey-text text-lighten-4 right">Voir mes statistiques</router-link>
				<router-link to="/profils" class="grey-text text-lighten-4 right">Gérer les profils</router-link>
			</div>
		</div>
	</footer>
</div>

<!-- Our templates -->

<!-- Template home page -->
<script id="home" type="text/x-template">
	<article>		
		<!-- Change profile -->
		<template v-if="activeUser != null && allUsers.length > 1">
			<h2 class="header center">Selectionnes ton profil!</h2>
			<p>Le profil en rouge est celui qui est actuellement selectionné.</p>
			<span v-for="user in allUsers">
				<button v-if="user == activeUser" class="btn red">{{ user }}</button>
				<button v-else class="btn" v-on:click="changeActiveUser(user)">{{ user }}</button>
			</span>
		</template>
		<h1 class="header center" v-if="activeUser != null">Choisis ton mode de jeu {{ activeUser }}</h1>
		<h1 class="header center" v-else>Bienvenu dans MultiTable!</h1>

		<!-- Choice between learning mode / evaluation mode -->
		<div class="row" v-if="activeUser != null">

			<!-- Training mode -->
			<div class="col s6 m6">
				<div class="card">
					<div class="card-image">
						<img src="images/book.png">
					</div>
					<div class="card-content">
						<p>Révise tes tables de multiplication avec le mode apprentissage !</p>
					</div>
					<div class="card-action">
						<router-link :to="{ name: 'learning' }">Commencer l'entraînement</router-link>
					</div>
				</div>
			</div>

			<!-- Evaluation mode -->
			<div class="col s6 m6">
				<div class="card">
					<div class="card-image">
						<img src="images/owl.png">
					</div>
					<div class="card-content">
						<p>Test tes connaissances avec le mode évaluation !</p>
					</div>
					<div class="card-action">
						<router-link :to="{ name: 'evaluation' }">Commencer l'évaluation</router-link>
					</div>
				</div>
			</div>
		</div>

		<!-- Data export -->
		<template v-if="storageExist">
			<h2 class="header center">Sauvegarder ma partie:</h2>
			<p class="center">Ta progression est sauvegardée dans ton ordinateur mais si tu veux un fichier de sauvegarde pour jouer sur un autre ordinateur cliques ici: </p>
			<p class="center"><a :href="saveUri" download="timesTableSavegame.save" class="btn"><i class="material-icons left">cloud_download</i>télécharger ma sauvegarde</a></p>
			
			<h2 class="header center">Supprimer toutes mes données:</h2>
			<p class="center"><button v-on:click="wipeAllData()" class="btn">Supprimer toutes les données</button></p>
		</template>

		<!-- Data import and profil management -->
		<template v-else>
			<h2 class="header center">Créer ma famille</h2>
			<p class="center">Si tu es nouveau ou que tu n'as pas de sauvegarde, tu dois d'abord créer ton compte (c'est très simple) et ça permettra aux autres personnes de ta famille de jouer également.</p>
			<form v-on:submit.prevent="createFamily($event)">
				Prénom: <input type="text" name="fname" id="fname"><br>
				Nom: <input type="text" name="lname" id="lname"><br>
				<input type="submit" value="Envoyer">
			</form>

			<h2 class="header center">Restaurer ma partie:</h2>
			<p class="center">Nous n'avons pas de partie enregistré sur cet ordinateur!<br/> Si tu es nouveau c'est normal, tu pourras en télécharger une après avoir joué. Si tu as un fichier de sauvegarde, tu peux l'importer ici:</p>
			<div class="file-field input-field">
				<div class="btn">
					<span>Sauvegarde</span>
					<input type="file" id="input" @change="importSave($event)">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
			<!-- Message with import saved datas -->
			<template v-if="message">
				<p v-if = "error" class="text-red center">{{ message }}</p>
				<p v-else class="text-green center">{{ message }}</p>
			</template>
		</template>
	</article>
</script>

<!-- Template learning mode -->
<script id="learning" type="text/x-template">
	<section v-if="activeUser != null">

		<!-- Table choice -->
		<article id="content-learning">
			<h1 class="header center">Mode apprentissage</h1>
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Grâce au mode apprentissage, tu peux choisir quelle table de multiplication réviser !</p>
					<p>Choisis ta table de multiplication<span class="new badge" data-badge-caption="tables différentes faite">{{ tablesDone.length }}</span></p>
				</div>
				<div class="card-tabs">
					<ul class="tabs tabs-fixed-width">
						<li v-for="n in 10" class="tab">
							<a v-if="table == n" class="selected">{{ n }}</a>
							<a v-else v-on:click="play(n)">{{ n }}</a>
						</li>
					</ul>
				</div>
			</div>
		</article>

		<!-- Operation view -->
		<template v-if="table != 0 && round < operations.length + 1">
			<article class="content-operation">
				<h2 class="header center">Table de {{ table }} <span v-if="isDone(table)"class="new badge" data-badge-caption="faite">{{ &nbsp; }}</span></h2>
				<p class="text-tour">Opération {{round}} sur 10</p>
				<h3 class="center">{{ table }} x {{ operations[round-1].multiplier }} =</h3>
				<p>Choisi la bonne réponse:</p>
				<div class="answers">
				<span v-for="choice in operations[round-1].choices">
					<button v-if="userChoices.indexOf(choice) >= 0" class="btn red">{{ choice }}</button>
					<button v-else class="btn" v-on:click="playRound(round, choice)">{{ choice }}</button>
				</span>
				</div>
			</article>
		</template>

		<!-- User stats -->
		<template v-if="round == operations.length + 1">
			<article>
				<h1 class="header center">Résultat de l'entrainement sur la table de {{ table }}:</h1>
				<table class="bordered highlight table-score">
					<thead>
					<tr>
						<th data-field="operation">Opération</th>
						<th data-field="result">Résultat</th>
						<th deta-field="errors">Nombre d'erreurs</th>
						<th deta-field="answers">Réponses données</th>
						<th data-field="timer">Temps (en s)</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="operation in operations">
						<td>{{ table }} x {{ operation.multiplier }}</td>
						<td>{{ operation.result }}</td>
						<td>
							<span v-if="operation.error == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ operation.error }}</span>
						</td>
						<td><span v-for="userChoice in operation.userChoices">{{ userChoice }} </span></td>
						<td>{{ operation.time }}</td>
					</tr>
					</tbody>
				</table>
			</article>
		</template>
	</section>
	<section v-else>
		<h1 class="header center">Mode apprentissage</h1>
		<article id="content-check-training">
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Vous n'avez aucun profil actif... veuillez allez sur la page d'accueil pour créer le premier. Vous pourrez ensuite en ajouter d'autres sur cette page</p>
				</div>
				<div class="card-action white">
					<router-link to="/">
						Retour à l'accueil
					</router-link>
				</div>
			</div>
		</article>
	</section>
</script>

<!-- Template evaluation mode -->
<script id="evaluation" type="text/x-template">
	<section v-if="activeUser != null">
		<!-- Check if the user had done the training mode -->
		<div v-if="!trainingDone">
			<h1 class="header center">Mode évaluation</h1>
			<article id="content-check-training">
				<div class="card deep-purple lighten-2">
					<div class="card-content" deep-purple lighten-4>
						<p>Avant de pouvoir faire le mode évaluation, finis d'abord le mode apprentissage.</p>
						<p>Pour cela, tu dois finir chaque table de multiplication.</p>
					</div>
					<div class="card-action white">
						<router-link to="/apprentissage">
							Commencer l'entraînement
						</router-link>
					</div>
				</div>
			</article>
		</div>
		<div v-else>

			<!-- Check there is still operations left -->
			<div v-if="index < operations.length">
				<h1 class="header center">Mode évaluation</h1>

				<!-- Operation view -->
				<article class="content-operation">
					<p class="text-tour">Opération {{ index+1 }} sur 10</p>
					<h3 class="center">{{ currentOperation.multiplier1 }} x {{ currentOperation.multiplier2 }} =</h3>
					<p>Choisi la bonne réponse:</p>
					<div class="answers">
					<span v-for="choice in currentOperation.choices">
						<button v-if="operations[index].userChoices.indexOf(choice) >= 0" class="btn red">{{ choice }}</button>
						<button v-else class="btn" v-on:click="checkResult(choice,currentOperation)">{{ choice }}</button>
					</span>
					</div>
				</article>
			</div>

			<!-- User stats -->
			<div v-else>
				<h1 class="header center">Résultats de l'évaluation</h1>
				<table class="bordered highlight table-score">
					<thead>
					<tr>
						<th data-field="operation">Opération</th>
						<th data-field="result">Résultat</th>
						<th data-field="errors">Nombre d'erreurs</th>
						<th deta-field="answers">Réponses données</th>
						<th data-field="timer">Temps (en s)</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="operation in operations">
						<td>{{ operation.multiplier1 }} x {{ operation.multiplier2 }}</td>
						<td>{{ operation.result }}</td>
						<td>
							<span v-if="operation.errors == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ operation.errors }}</span>
						</td>
						<td><span v-for="userChoice in operation.userChoices">{{ userChoice }} </span></td>
						<td>{{ operation.time }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<section v-else>
		<h1 class="header center">Mode évaluation</h1>
		<article id="content-check-training">
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Vous n'avez aucun profil actif... veuillez allez sur la page d'accueil pour créer le premier. Vous pourrez ensuite en ajouter d'autres sur cette page</p>
				</div>
				<div class="card-action white">
					<router-link to="/">
						Retour à l'accueil
					</router-link>
				</div>
			</div>
		</article>
	</section>
</script>

<!-- Template global statistic -->
<script id="statistics" type="text/x-template">
	<section v-if="activeUser != null">
		<!-- Mode statistics choice -->
		<article id="content-stats">
			<h1 class="header center">Statistiques globales de {{ activeUser }}</h1>
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Ici tu peux voir tes statistiques globales sur le mode de ton choix afin de repérer les opérations/tables qui te posent problème</p>
					<p>Choisis le mode de jeu pour lequel tu veux voir les statistiques</p>
				</div>
				<div class="card-tabs">
					<ul v-if="trainExist || evaluateExist" class="tabs tabs-fixed-width">
						<li class="tab">
							<a v-if="evaluateExist" v-on:click="computeEvaluateStatistics()">Statistique d'evaluation</a>
						</li>
						<li class="tab">
							<a v-if="trainExist" v-on:click="computeTrainStatistics()">Statistique d'apprentissage</a>
						</li>
					</ul>
					<div v-else class="card-content grey lighten-4">
							<p>Aucune statistiques n'existe pour le moment. Il faut jouer avant de pouvoir afficher des statistiques!</p>
					</div>
				</div>
			</div>
		</article>

		<!-- Statistic view -->
		<template v-if="displayTrain">
			<h1 class="header center">Statistiques du mode d'apprentissage</h1>
			<article v-for="statistic in statistics">
				<h2 class="center table-title">Résultat de l'entrainement sur la table de {{ statistic.table }} ({{ statistic.nb }} entrainement):</h2>
				<table class="bordered highlight table-score">
					<thead>
					<tr>
						<th data-field="operation">Opération</th>
						<th data-field="errors">Erreurs</th>
						<th deta-field="averageError">Moyenne d'erreurs</th>
						<th deta-field="averageTime">Moyenne de temps (en s)</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="stat in statistic.stat">
						<td>{{ statistic.table }} x {{ stat.multiplier }}</td>
						<td><span v-for="error in stat.errors">
							<span v-if="stat.averageError == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ error }}, </span>
						</span></td>
						<td>
							<span v-if="stat.averageError == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ stat.averageError }}</span>
						</td>
						<td>{{ stat.averageTime }}</td>
					</tr>
					</tbody>
				</table>
			</article>
		</template>
		<template v-if="displayEvaluate">
			<h1 class="header center">Statistiques du mode d'évaluation</h1>
			<article>
				<table class="bordered highlight table-score">
					<thead>
					<tr>
						<th data-field="operation">Opération</th>
						<th data-field="attempt">Nombre</th>
						<th data-field="errors">Erreurs</th>
						<th deta-field="averageError">Moyenne d'erreurs</th>
						<th deta-field="averageTime">Moyenne de temps (en s)</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="statistic in statistics">
						<td>{{ statistic.multiplier1 }} x {{ statistic.multiplier2 }}</td>
						<td>{{ statistic.nb }}</td>
						<td><span v-for="error in statistic.errors">
							<span v-if="statistic.averageError == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ error }}, </span>
						</span></td>
						<td>
							<span v-if="statistic.averageError == 0" class="no-mistakes">Pas d'erreurs</span>
							<span v-else class="mistakes">{{ statistic.averageError }}</span>
						</td>
						<td>{{ statistic.averageTime }}</td>
					</tr>
					</tbody>
				</table>
			</article>
		</template>
	</section>
	<section v-else>
		<h1 class="header center">Voir mes statistiques</h1>
		<article id="content-check-training">
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Vous n'avez aucun profil actif... veuillez allez sur la page d'accueil pour créer le premier. Vous pourrez ensuite en ajouter d'autres sur cette page</p>
				</div>
				<div class="card-action white">
					<router-link to="/">
						Retour à l'accueil
					</router-link>
				</div>
			</div>
		</article>
	</section>
</script>

<!-- Template profilManagement page -->
<script id="profilManagement" type="text/x-template">
	<section v-if="activeUser != null">
		<article>
			<h1>Gestion des profils de la famille {{ family }}</h1>
			<p v-if="message != null">{{ message }}</p>

			<h2 class="header center">Profils existant</h2>
			<ul>
				<li v-for="user in allUsers">{{ user }}    -
					<button v-on:click="deleteUser(user)" class="btn">Supprimer</button>
				</li>
			</ul>

			<h2 class="header center">Ajouter un profil</h2>
			<form v-on:submit.prevent="addActiveUser($event)">
				Saisir un prénom: <input type="text" name="fname"><br>
				<input type="submit" value="Envoyer">
			</form>
		</article>
	</section>
	<section v-else>
		<h1 class="header center">Gestion des profils</h1>
		<article id="content-check-training">
			<div class="card deep-purple lighten-2">
				<div class="card-content" deep-purple lighten-4>
					<p>Vous n'avez aucun profil actif... veuillez allez sur la page d'accueil pour créer le premier. Vous pourrez ensuite en ajouter d'autres sur cette page</p>
				</div>
				<div class="card-action white">
					<router-link to="/">
						Retour à l'accueil
					</router-link>
				</div>
			</div>
		</article>
	</section>		
</script>

<!-- External libs -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="js/lib/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

<!-- Internal libs -->
<script src="js/localStorageManager.js"></script>
<script src="js/store.js"></script>
<script src="js/home.js"></script>
<script src="js/evaluate.js"></script>
<script src="js/train.js"></script>
<script src="js/statistics.js"></script>
<script src="js/profilManagement.js"></script>
<script src="js/router.js"></script>
</body>
</html>
